html {
  background-color: #222222;
  color: #eee;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0.5ex 1.5ex;
  font-family: 'Inconsolata';
  font-size: 11px;
}
body.console {}
body.normal {
  line-height: 2.7ex;
}

hr { margin: 0.5em 2em; }

a {
  color: inherit;
}

.inlineimage {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 500px;
  max-height: 400px;
  box-shadow: none;
  border: 0px;
}

.line  { padding: 0.2ex 0; line-height: 14px; }
.time  { color: #8c8c8c; }
.place { color: #9fb0af; }

/* Nicks */

.sender[type=normal] { color: #a2b7b9; margin-right: 1.1ex; }
.sender[type=myself] { color: #72cddd; margin-right: 1.1ex; }

/* Messages */
.message[type=privmsg] { color: #eeeeee; }
.message[type=action] { color: inherit; font-style: italic; }
.message[type=notice] { color: #99c5c6; }
.message[type=system] { color: #444444; }
.message[type=error] { color: #e74f50; font-weight: bold; }
.message[type=reply] { color: #889697; }
.message[type=error_reply] { color: #e74f50; }
.message[type=dcc_send_send] { color: #565656; }
.message[type=dcc_send_receive] { color: #565656; }
.message[type=join] { color: #a8d9e2; }
.message[type=part] { color: #444444; }
.message[type=quit] { color: #444444; }
.message[type=kick] { color: #d8e362; }
.message[type=kill] { color: #d8e362; }
.message[type=nick] { color: #444444; }
.message[type=mode] { color: #d8e362; }
.message[type=topic] { color: #d8e362; }
.message[type=invite] { color: #d8e362; font-style: italic; }
.message[type=wallops] { color: #444444; }
.message[type=debug_send] { color: #444444; }
.message[type=debug_receive] { color: #444444; }

.highlight {
  color: #c6d44c;
  font-weight: normal;
}

/* Special spans */

.url {
  word-break: break-all;
}
.address {
  text-decoration: underline; word-break: break-all;
  color: #657476;
}

/* Spans in line */

body.normal .time {
  display: block;
  float: left;
  padding-left: 5px;
  padding-right: 15px;
}

body.normal .sender[type=normal], body.normal .sender[type=myself] {
  display: block;
  float: left;
  text-align: right;
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body.normal div.line[type=action] .sender[type=normal], div.line[type=action] .sender[type=myself] {
  width: auto;
  padding-left: 19ex;
  color: #8996A8;
  background-color: transparent;
}

body.normal div.line[type=action] .sender[type=normal]::before, div.line[type=action] .sender[type=myself]::before {
  content: "=>";
  padding-right: 10px;
}

body.normal a {
  color: #CF6A4C;
  text-decoration: none;
}

body.normal a:hover {
  text-decoration: underline;
  color: #ccc;
}

body.normal .line[highlight=true] > .sender[type=normal] {
  margin-left: -5px;
  padding-left: 0.2ex;
  padding-right: 0.8ex;
  -webkit-border-radius: 3px;
  line-height:3.2ex;
  background-color: #2f343b;
  text-indent: 3px;
  color: #CF6A4C;
}

body.normal .sender[type=myself]:after {
  color: #444444;
}

.line[highlight=true] {
  background-color: transparent;
}

/* disable funky mirc colours */

.effect[color-number] { color: inherit; background-color: inherit; font-style: italic; }
